---
import ProjectCard from "./ProjectCard.astro";
const { projects } = Astro.props;
---

<div id="projects" class="projects">
    {
        projects.map((p) => (
            <ProjectCard
                id={p.id}
                image={p.contents_url.replace("{+path}", "preview.png")}
                name={p.name}
                description={p.description}
                github={p.html_url}
                homepage={p.homepage}
            />
        ))
    }
</div>
